extends layout

block content
  h1= title
  - let result = results 

    .container-fluid 
      .row
        each furni, index in result
            .col-sm-2(onclick=`buy(${index})`)
              p Furniture: #{furni.Furniture}
              p Design: #{furni.Design}
              p Cost: #{furni.Cost}
              p Brand: #{furni.Brand}

  script.
    function buy(index) {
      alert('You purchased item ' + (index+1));
    }