extends layout

block content
  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let furnitureid = toShow._id
    - let Furniture = toShow.Furniture
    - let Design = toShow.Design
    - let Cost = toShow.Cost
    - let Brand = toShow.Brand
    - let actionid = "/resource/furniture/" + furnitureid

    script.
      let actionid = "#{actionid}"

    div
      div.row
        div(class='bonus mr-3') furniture ID is:
        div #{furnitureid}
      div.row
        div(class='bonus mr-3') Furniture type:
        div #{Furniture}
      div.row
        div(class='bonus mr-3') Design:
        div #{Design}
      div.row
        div(class='bonus mr-3') Cost:
        div #{Cost}
      div.row
        div(class='bonus mr-3') Brand :
        div #{Brand}

    button(class="btn btn-danger m-2", onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2", onclick="cancel()") Cancel

    script.
      function cancel() {
        // Go back to the home page for the costume collection
        window.location.href='/furniture'
      }

    script.
      function deleteOnid() {
        console.log("starting delete");
        // delete first
        fetch(actionid, {
          method: 'DELETE' // Don't need a body for the delete
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Delete succeeded");
          window.location.href='/furniture';
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Delete failed: " + error);
        });
      }
