extends layout

block content
  h1= title
  - let result = results 

    .container-fluid 
      - let destination3 = `dispatch(\"/furniture/create")`
      button.btn( class="btn-primary ml-1", onclick= destination3) Create
      .row
        each furni, index in result
            - let destination = `dispatch(\"/furniture/detail?id=${furni._id}\")`
            - let destination1  = `dispatch(\"/furniture/update?id=${furni._id}\")`
            - let destination2  = `dispatch(\"/furniture/delete?id=${furni._id}\")`
            .col-sm-2(onclick=`buy(${index})`)
              p Furniture: #{furni.Furniture}
              p Design: #{furni.Design}
              p Cost: #{furni.Cost}
              p Brand: #{furni.Brand}
              button.btn( class="btn-primary ml-1", onclick= destination) Detail
              button(class="btn btn-danger m-2" onclick=destination1) Update
              button(class="btn btn-secondary m-2" onclick=destination2) Delete

  script.
    function dispatch(path){
      window.location.href=path
    }

    function buy(index) {
      alert('You purchased item ' + (index+1));
    }

